.letter-glitch {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}
.letter-glitch__canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.letter-glitch__outer-vignette,
.letter-glitch__center-vignette {
  pointer-events: none;
  position: absolute;
  inset: 0;
}
.letter-glitch__outer-vignette {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, #000 100%);
}
.letter-glitch__center-vignette {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 60%
  );
}
